In [2]:
import pandas as pd
import json
import ast

In [3]:
reviews = []

with open('../yelp_academic_dataset_review.json', 'rb') as f:
    for line in f:
        reviews.append(ast.literal_eval(line.strip()))

In [4]:
df = pd.DataFrame(reviews)

In [5]:
df.head()

,business_id,cool,date,funny,review_id,stars,text,type,useful,user_id
0,2aFiy99vNLklCx3T_tGS9A,0,2011-10-10,0,NxL8SIC5yqOdnlXCg18IBg,5,If you enjoy service by someone who is as comp...,review,0,KpkOkG6RIf4Ra25Lhhxf1A
1,2aFiy99vNLklCx3T_tGS9A,0,2010-12-29,0,pXbbIgOXvLuTi_SPs1hQEQ,5,After being on the phone with Verizon Wireless...,review,1,bQ7fQq1otn9hKX-gXRsrgA
2,2aFiy99vNLklCx3T_tGS9A,0,2011-04-29,0,wslW2Lu4NYylb1jEapAGsw,5,Great service! Corey is very service oriented....,review,0,r1NUhdNmL6yU9Bn-Yx6FTw
3,2LfIuF3_sX6uwe-IR-P0jQ,1,2014-07-14,0,GP6YEearUWrzPtQYSF1vVg,5,Highly recommended. Went in yesterday looking ...,review,0,aW3ix1KNZAvoM8q-WghA3Q
4,2LfIuF3_sX6uwe-IR-P0jQ,0,2014-01-15,0,25RlYGq2s5qShi-pn3ufVA,4,I walked in here looking for a specific piece ...,review,0,YOo-Cip8HqvKp_p9nEGphw

In [6]:
df5 = df.loc[df['stars'] == 5]

In [7]:
len(df5)

1704200

In [8]:
counts = pd.DataFrame(df5['text'].groupby(df5['user_id']).count()).reset_index()

In [9]:
counts.sort_values(by='text', inplace=True, ascending=False)

In [13]:
more_than_100 = counts.loc[counts['text'] >= 100]

In [14]:
len(more_than_100)

170

In [18]:
top_users = list(more_than_100['user_id'])

In [19]:
top_user_reviews = df[df['user_id'].isin(top_users)]

In [21]:
top_user_reviews.to_csv('../top_user_reviews.csv')

In [22]:
len(top_user_reviews)

73737