In [1]:
import pandas as pd
import ast
import json

In [2]:
df_reviews = pd.read_csv('../top_user_reviews.csv')
df_reviews.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df_reviews.head()

,business_id,cool,date,funny,review_id,stars,text,type,useful,user_id
0,1Lbq92b6B9z1FYk5mS2R9Q,0,2012-08-01,0,PhwyYy4m4JixeIHLFJgYEg,4,Been here twice to catch a sports game on thei...,review,1,0nqshyLgABOSyTfJUTthjQ
1,1Lbq92b6B9z1FYk5mS2R9Q,1,2010-11-16,0,gfKsjg4aouCOND-0c2tCqw,4,Here tonight to try dinner. What caught my eye...,review,3,FIk4lQQu1eTe2EpzQ4xhBA
2,1Lbq92b6B9z1FYk5mS2R9Q,2,2012-05-15,2,pZIQPxbBOyR-waeBh_BA4Q,4,"The week of May 14-20, 2012 is National Beer W...",review,3,N3oNEwh0qgPqPP3Em6wJXw
3,1Lbq92b6B9z1FYk5mS2R9Q,6,2012-11-12,3,mLjXr-_-jz7Zmz_KvgEaEQ,4,On the look out for a new place to try for Sun...,review,6,UYcmGbelzRa0Q6JqzLoguw
4,1Lbq92b6B9z1FYk5mS2R9Q,5,2011-02-15,2,12JpDvtr4ZYFngGV6Kv-aQ,4,Despite the fact that Vegas has a stupid numbe...,review,4,kmE8w5Y785eZmodsx0V6Ag

In [4]:
business = []

with open('../yelp_academic_dataset_business.json', 'rb') as f:
    for line in f:
        try:
            business.append(ast.literal_eval(line.strip()))
        except:
            continue

In [5]:
df_business = pd.DataFrame(business)

In [6]:
# df_business['type'].value_counts()
df_business['categories'] = df_business['categories'].apply(lambda x : ' '.join(x).lower())

In [7]:
df_business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,type
0,"227 E Baseline Rd, Ste J2","[BikeParking: True, BusinessAcceptsBitcoin: Fa...",0DI8Dt2PJp07XkVvIElIcQ,tobacco shops nightlife vape shops shopping,Tempe,"[Monday 11:0-21:0, Tuesday 11:0-21:0, Wednesda...",0,33.378214,-111.936102,Innovative Vapors,,85283,17,4.5,AZ,business
1,495 S Grand Central Pkwy,"[BusinessAcceptsBitcoin: False, BusinessAccept...",LTlCaCGZE14GuaUXUGbamg,caterers grocery food event planning & service...,Las Vegas,"[Monday 0:0-0:0, Tuesday 0:0-0:0, Wednesday 0:...",1,36.192284,-115.159272,Cut and Taste,,89106,9,5.0,NV,business
2,979 Bloor Street W,"[Alcohol: none, Ambience: {'romantic': False, ...",EDqCEAGXVGCH4FJXgqtjqg,restaurants pizza chicken wings italian,Toronto,"[Monday 11:0-2:0, Tuesday 11:0-2:0, Wednesday ...",1,43.661054,-79.429089,Pizza Pizza,Dufferin Grove,M6H 1L5,7,2.5,ON,business
3,7014 Steubenville Pike,"[AcceptsInsurance: False, BusinessAcceptsCredi...",cnGIivYRLxpF7tBVR_JwWA,hair removal beauty & spas blow dry\/out servi...,Oakdale,"[Tuesday 10:0-21:0, Wednesday 10:0-21:0, Thurs...",1,40.444544,-80.174540,Plush Salon and Spa,,15071,4,4.0,PA,business
4,"30 Gibson Drive, Suite122","[BusinessAcceptsCreditCards: True, ByAppointme...",Q9rsaUiQ-A3NdEAloy0aJA,nail salons beauty & spas,Markham,"[Monday 10:30-20:0, Tuesday 10:30-20:0, Thursd...",1,43.827640,-79.342722,A Plus Nail,,L3R 2S3,3,2.5,ON,business

In [8]:
restaurants = df_business[df_business['categories'].str.contains("restaurants")]
restaurants = restaurants.loc[restaurants['stars'] >= 4]

In [9]:
# restaurants.to_csv('restaurants.csv')
italian = restaurants[restaurants['categories'].str.contains('italian')]
chinese = restaurants[restaurants['categories'].str.contains('chinese')]
mexican = restaurants[restaurants['categories'].str.contains('mexican')]
american = restaurants[restaurants['categories'].str.contains('american')]
pizza = restaurants[restaurants['categories'].str.contains('pizza')]
# five_stars.dropna(subset=['postal_code'],inplace=True)
# postal_codes = five_stars.groupby(['postal_code']).size().reset_index()

In [10]:
burgers = restaurants[restaurants['categories'].str.contains('burgers')]
coffee = restaurants[restaurants['categories'].str.contains('coffee')]

In [11]:
# from collections import Counter

# Counter(' '.join(restaurants['categories']).split()).most_common(100)

In [13]:
burgers['marker'] = 'Burger'
pizza['marker'] = 'Pizza'
coffee['marker'] = 'Coffee'

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [15]:
markers = burgers.append(pizza, ignore_index=True)
markers = markers.append(coffee, ignore_index=True)

In [16]:
markers.to_csv('markers.csv')

In [10]:
len(pizza.loc[pizza['review_count'] > 50])

535

In [ ]:
df_business['categories'].str.contains("restaurants")

In [111]:
pizza_reviews = pd.merge(df_reviews, pizza, on='business_id', how='inner')

In [32]:
len(df)

59911

In [47]:
counts = df.groupby(['user_id', 'business_id', 'latitude', 'longitude']).size().reset_index()

In [48]:
counts = pd.DataFrame(counts)

In [51]:
counts['user_id'].value_counts()

PKEzKWv_FktMm2mGPjwd0Q    1172
DK57YibC5ShBmqQl97CKog    1071
QJI9OSEn6ujRCtrX06vs1w     940
UYcmGbelzRa0Q6JqzLoguw     914
cMEtAiW60I5wE_vLfTxoJQ     911
ELcQDlf69kb-ihJfxZyL0A     900
U4INQZOPSUaj8hMjLlZ3KA     896
n86B7IkbU20AkxlFX_5aew     776
N3oNEwh0qgPqPP3Em6wJXw     769
dIIKEfOgo0KqUfGQvGikPg     750
iDlkZO2iILS8Jwfdy7DP9A     710
hWDybu_KvYLSdEFzGrniTw     648
3nDUQBjKyVor5wV0reJChg     645
YMgZqBUAddmFErxLtCfK_w     641
0BBUmH7Krcax1RZgbH4fSA     633
rCWrxuRC8_pfagpchtHp6A     627
RBZ_kMjowV0t6_nv2UKaDQ     626
PeLGa5vUR8_mcsn-fn42Jg     612
qewG3X2O4X6JKskxyyqFwQ     610
Xxvz5g67eaCr3emnkY5M6w     603
Ry1O_KXZHGRI8g5zBR3IcQ     601
dt9IHwfuZs9D9LOH7gjNew     598
WeVkkF5L39888IPPlRhNpg     592
C2C0GPKvzWWnP57Os9eQ0w     583
4wp4XI9AxKNqJima-xahlg     582
tH0uKD-vNwMoEc3Xk3Cbdg     577
Wc5L6iuvSNF5WGBlqIO8nw     569
Q9mA60HnY87C1TW5kjAZ6Q     563
HJj82f-csBI7jjgenwqhvw     536
SlgpAnj2gQd44EM_Uq6DkQ     531
                          ...
P3B7FfBpXERa-KdxwIGkHA     181
VlcasgkqiTuPi-nVT7rEtw     176
0o8HUzggoNKay9-ZMj3HqQ     176
ksYpOznbD-22wYpTiacHwA     175
A2N4y0VeZ-3TtmBVCSVVnQ     174
V7B4KTBitlBs9YH_B00-9Q     173
q5afJ8gTV5TPEOkzyeJ_WQ     171
mIysRk_cJ5K_BMZ-r06TFw     171
VkUfz-QuNF9qeGXUhaNpTA     168
u90s9wJ9pMK2FMpy5F8Wpg     167
4d13xAX2jp2EbGF8I9eZZw     166
rPJZ0Bh1Dj-Rw6Yu3iQwVQ     163
ReDypdRmVA3wc-QG8HBKkQ     161
tM84r9rP7XTjX4SnRzviMA     159
D43OWyfzIQjL8feJpYh2SQ     159
Ij7OcAO5FpoNKxS1RzNoWw     158
LG-FOXQL0zUcRQuqkhq-Zg     157
GRQeDtlWc1LLbwMuxFESKw     155
tWVlSt-66fl6bk9_5UzltQ     153
ZuWAof5l6yKeft-F1QCWSQ     144
Cfwvos6oFlDquGiI2Qy1gQ     141
HHrDK8PKL3div1uBYym6LQ     140
7nA9P6EukhTwZi67JB-UTg     136
7M1zIE6OzpySDlqLU6MnEg     132
FqNJxZ3zkcF-o-QUXz4yeg     131
OmBHPdD3UhTeO3UHq6kBjA     126
jX7n6KfNZ22kBh6AHhxRbA     123
8JwSmvviX2dEAgaPRZ70nQ     116
uNxXIIFzjHm5r62UTyVjrQ     115
JHa6QhwsnQ3tBfoHwz9pJg     113
Name: user_id, dtype: int64