In [1]:
import pandas as pd
# from string import digits
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv('../top_user_reviews.csv')

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
df['text'].head()

0    Been here twice to catch a sports game on thei...
1    Here tonight to try dinner. What caught my eye...
2    The week of May 14-20, 2012 is National Beer W...
3    On the look out for a new place to try for Sun...
4    Despite the fact that Vegas has a stupid numbe...
Name: text, dtype: object

In [5]:
df['text']

0        Been here twice to catch a sports game on thei...
1        Here tonight to try dinner. What caught my eye...
2        The week of May 14-20, 2012 is National Beer W...
3        On the look out for a new place to try for Sun...
4        Despite the fact that Vegas has a stupid numbe...
5        For the past two Sundays, I've come here to ha...
6        Maria was super nice and inviting. 5 stars for...
7        I've attended a couple of bikram classes here ...
8        This just in! This dirty dirty chain 'za (but ...
9        Gas is soooo much cheaper in South Carolina. 2...
10       Sutra no longer offers 50% off on Tuesday nigh...
11       Barcelona is pretty swanky, there's no doubt a...
12       I have to give Mille Avenue a positive up for ...
13       I like this Subway location.  It is always cle...
14       I have been thru my fair share of lash artists...
15       Friendly, efficient, and full of useful recomm...
16       Came here this morning  because I had a meetin...
17       Gibb's is in the Severance Plaza and is a real...
18       If I had to sum up Focus in one word, I'd say ...
19       A friend and I went to dinner here, and while ...
20       3.5 stars.  \n\nBoth my wife and I wanted a sm...
21       My new favorite bar \/hangout spot in the city...
22       I'm a sucker for tapas (or bocadillos in this ...
23       These are two perplexed stars because several ...
24       Perhaps 5 years ago I would have liked this pl...
25       This is still a Sobey's, so for me it'll never...
26       Ok\nI've only ever had the gelato here, althou...
27       This is a great little "shack" in a gas statio...
28       I thought I'd never get to 500 reviews! Now th...
29       Just realized that I wrote a review for the Ka...
                               ...
73707    Big thanks to one of my fave local Newmarket E...
73708    Called in my order and had a coupon in College...
73709    I still remember when this mall was lined with...
73710    I am shocked that no one has reviewed Tonto Ba...
73711    I have come here several times since it is so ...
73712    We went here for lunch today and thoroughly en...
73713    I live in Desert Hills and I always forget abo...
73714    I have used Eliot Management group for my cred...
73715    Hopped in for lunch just as they opened (11:00...
73716    I love me some Chipotle, and this place is pre...
73717    I dined at Bosk for breakfast and dinner durin...
73718    EVERYTIME I'm home in Cleveland I have to get ...
73719    Tanya was awesome!  This chic eyewear boutique...
73720    I didn't know what Jason's Deli was all about ...
73721    I was glad to see that they had opened up a lo...
73722    It was actually kinda exciting to see this pla...
73723    Called to confirm and Charcuterie Fairmount ar...
73724    Host & Server Carlos IS The Man! He is natural...
73725    We decided to try something different as we ha...
73726    I have used this trail twice as the gateway fo...
73727    This place has it all...\n\n1) Drinks - A wond...
73728    Just went to look at these love love love em a...
73729    This place is good if you want a quick and che...
73730    Stack'd has got some stacked burger competitio...
73731    Looking for that delicious Pizza Rock pizza bu...
73732    Since I still haven't properly tried Pizza Roc...
73733    Great addition to spring mountain.  Some of th...
73734    I grew up with chÃ¨ and love the mixture of gra...
73735    Oh yeah! \n\nWe came after some Hot N Juicy ne...
73736    I've never been head over heels with Vietnames...
Name: text, dtype: object

In [6]:
df['text'] = df['text'].apply(lambda x : x.lower())
# df['text'] = df['text'].apply(lambda x : x.translate(None, digits))
stop = stopwords.words('english')
df['text'] = df['text'].apply(lambda x : ' '.join([item for item in x.split() if item not in stop]))

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:4: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal

In [7]:
df['text'].head()

0    twice catch sports game multiple tvs. pub food...
1    tonight try dinner. caught eye nachos bratzel ...
2    week may 14-20, 2012 national beer week. brews...
3    look new place try sunday football specials, d...
4    despite fact vegas stupid number local's taver...
Name: text, dtype: object

In [8]:
import re

df['text'] = df['text'].apply(lambda x : re.sub("[^a-zA-Z]", " ", x))

In [9]:
df['text'].head()

0    twice catch sports game multiple tvs  pub food...
1    tonight try dinner  caught eye nachos bratzel ...
2    week may             national beer week  brews...
3    look new place try sunday football specials  d...
4    despite fact vegas stupid number local s taver...
Name: text, dtype: object

In [10]:
df['text'] = df['text'].apply(lambda x : re.sub('\s+', ' ', x))

In [11]:
df['text'].head()

0    twice catch sports game multiple tvs pub food ...
1    tonight try dinner caught eye nachos bratzel f...
2    week may national beer week brews off pint bee...
3    look new place try sunday football specials de...
4    despite fact vegas stupid number local s taver...
Name: text, dtype: object

In [13]:
df['text'] = df['text'].apply(lambda x : ' '.join( [w for w in x.split() if len(w)>1] ))

In [14]:
df['text'].to_csv('reviews.txt',index=False, header=False)